doctype html
html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes' )
    link(href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,regular,medium,semi-bold,bold, extra-bold, black" rel="stylesheet") 
    link(rel='stylesheet' href='./tachyons.css')
    link(rel='stylesheet' href='./styles.css') 
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-110952392-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110952392-1');
  body
    div.dapgray.w-100
      div.inner
        a(href='/').imgstyle
          img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/dapdrlogo.png')#daplogo
      div.inner.f4.medtext.black-90
        div #{district.borough} #{district.name} 
        div.lighttext November 2017 
    div.w-100.bg-black-10.tc.fl
      p.mv1.pl4 #{district.neighborhoods}
    div.fl.w-100.tl.pl2.f5
      a(href='/').no-print Back
    div.fl
      div.w-25.inner
        - var mapurl = 'https://github.com/aepyornis/dap-dr/blob/master/dashboard/cdmaps/' + district.cd + '-01.png?raw=true'
          img(src=mapurl).pl4
      div.ph4.inner2
        p.f6.tl.mb1.lighttext A monthly update of 
          span harassment and displacement risk in rent stabilized buildings
          span  in 
          span.medtext #{district.borough} #{district.name}
          span.no-print  (
          a(href='#notes').no-print Notes
          span.no-print )
          span . 
        div.f6.tl.mv1
          div.lighttext Risk indicators include
          div.pl3.pt1
            a(href='#sales') New sales of residential buildings
          div.pl3.pt1
            a(href='#hpdcomplaints') 5+ new complaints filed with the Department of Housing Preservation and Development (HPD)
          div.pl3.pt1
            a(href='#hpdviols') 10+ new violations issued by HPD
          div.pl3.pt1
            a(href='#dobcomplaints') 2+ new complaints filed with the Department of Buildings (DOB)
          div.pl3.pt1
            a(href='#dobjobs') New DOB construction permit applications.
          p.f6.tl.lighttext.no-print 
              span You can click directly to a property's 
              //-  a(href='http://whoownswhat.justfix.nyc', target='_blank') Who Owns What
              //-  span  page for owner info, 
              a(href='https://hpdonline.hpdnyc.org/HPDonline/provide_address.aspx', target='_blank') HPD building info
              span , 
              a(href='http://a810-bisweb.nyc.gov/bisweb/bispi00.jsp', target='_blank') DOB Building Information System
              span ,  
              a(href='https://a836-acris.nyc.gov/DS/DocumentSearch/BBL', target='_blank') ACRIS financial records
              span , or 
              a(href='http://nycprop.nyc.gov/nycproperty/nynav/jsp/selectbbl.jsp', target='_blank') property tax information
              span , or 
              a(href='http://www.oasisnyc.net/map.aspx', target='_blank') OASIS Map
              span  page. You can also click a building address to view it in Google Maps.
      div.fl.pb3.ph1.f6.w-100
        div.mb1.mt0.lighttext If a building appears on more than one of the lists below in a given month it will be coded: 
        div
          div.fl.w-33
            img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/riskyellow.png')
          div.fl.w-33
            img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/riskorange.png')
          div.fl.w-33
            img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/riskred.png')
        div.fl.w-100 
          span.dapgray Tip:
          span.bg-white.lighttext  to find the building on other lists, copy its BBL (Borough, Block, and Lot code) and use Find (Ctrl+F or &#8984+F)
    div.fl.w-100.mb3.bg-black-10#sales
      div.accordion.f3.tl.pv2.ph4 New sales of residential buildings last month
      div.ph4.pb2.panel
        p.f6.tl.mt0.mb3.lighttext.lh-copy A high sale price can mean the new owner plans to displace existing tenants to make large profits. 
          | All property transfers are included here, even when the recorded dollar amount is 0. 
          //- Buildings on this list sold for more than $50,000, which is used as a threshold for "true" sales versus other types of transfers 
          //- span.no-print (
          //- a(href='#notes').no-print Notes
          //- span.no-print )
          span.no-print Sales data is messy &#8212 click a building's 
          a(href='https://a836-acris.nyc.gov/DS/DocumentSearch/BBL', target='_blank').no-print (ACRIS)
          span.no-print  link for more detailed documentation. 
          span.medtext Note: 
          span data from the Department of Finance can lag, so these sales might be from the month before last. 
        table.w-100
          thead
            tr
              th BBL
              th.w-20 Address
              th Total Units
              th(colspan="2") Stabilized Units
              th Sale Price
              th Price / Sq Foot
              th Sale Date &#9662;
              th Owner
              th.w-20.no-print 
            tr
              th.tl
              th
              th
              th.gray 2007
              th 2016
              th 
              th.tl
              th  
              th 
              th.no-print
          tbody
          each sale in recentSales
            - var trStyle = rowClass(bblCount[sale.bbl].length);
            tr(class=trStyle)
              td.sales #{sale.bbl}
              td.sales !{sale.googlelink}
              td.sales #{sale.residentialunits}
              td.gray.sales #{sale.uc2007} 
              td.sales #{sale.uc2016}
              td.sales $#{sale.saleprice}
              td.sales $#{sale.ppgsf}
              td.sales #{sale.iso_date}
              td.sales !{sale.owner}
              td.no-print.sales !{sale.hpdlink} !{sale.bislink} !{sale.acrislink} !{sale.taxlink} !{sale.oasislink}
        div.fl.w-100.tl.mv2.f5.no-print
          a(href='#') Top
    div.fl.w-100.mb3.bg-black-10#hpdcomplaints
      div.accordion.f3.tl.pv2.ph4 Buildings with 5+ new complaints filed with HPD last month
      div.ph4.pb2.panel
        p.f6.tl.mt0.mb3.lighttext.lh-copy Complaints that tenants make about conditions in their apartment or building get sent to Housing Preservation and Development for inspection. One complaint can include multiple problems in an apartment or a building. 
          span.no-print Click a building's 
          a(href='https://hpdonline.hpdnyc.org/HPDonline/provide_address.aspx', target='_blank').no-print (HPD)
          span.no-print  link for details. 
        table.w-100
          thead
            tr
              th BBL
              th.w-20 Address
              th Total Units
              th(colspan="2") Stabilized Units
              th Complaints &#9662;
              th Owner
              th.w-20.no-print  
            tr
              th.pb3
              th
              th
              th.gray 2007
              th 2016
              th
              th
              th.no-print
          tbody
          each complaint in hpdComplaints
            - var trStyle = rowClass(bblCount[complaint.bbl].length);
            tr(class=trStyle)
              td.hpdcomplaints #{complaint.bbl}
              td.hpdcomplaints !{complaint.googlelink}
              td.hpdcomplaints #{complaint.residentialunits}
              td.gray.hpdcomplaints #{complaint.uc2007}
              td.hpdcomplaints #{complaint.uc2016}
              td.hpdcomplaints #{complaint.hpdcomplaints}
              td.hpdcomplaints !{complaint.owner}
              td.no-print.hpdcomplaints !{complaint.hpdlink} !{complaint.bislink} !{complaint.acrislink} !{complaint.taxlink} !{complaint.oasislink}
        div.fl.w-100.tl.mv2.f5.no-print
          a(href='#') Top
    div.fl.w-100.mb3.bg-black-10#hpdviols
      div.accordion.f3.tl.pv2.ph4 Buildings with 10+ new violations issued by HPD last month
      div.ph4.pb2.panel
        p.f6.tl.mt0.mb3.lighttext.lh-copy HPD issues violations of the Housing Maintenance Code after inspecting building conditions. Class A, B, and C violations can indicate a landlord is neglecting or actively harassing tenants, Class C being the most severe 
          span.no-print (
          a(href='http://www1.nyc.gov/assets/hpd/downloads/pdf/ABCs-housing-singlepg.pdf', target='_blank').no-print info, p.7
          span.no-print ). Click a building's 
          a(href='https://hpdonline.hpdnyc.org/HPDonline/provide_address.aspx', target='_blank').no-print (HPD)
          span.no-print  link for more details
          span . 
        table.w-100
          thead
            tr
              th BBL
              th.w-20 Address
              th Total Units
              th(colspan="2") Stabilized Units
              th Class A
              th Class B
              th Class C
              th Total &#9662;
              th Owner
              th.w-20.no-print 
            tr 
              th.pb3
              th
              th
              th.gray 2007
              th 2016
              th 
              th 
              th 
              th 
              th 
              th.no-print
          tbody
          each violation in hpdViolations
            - var trStyle = rowClass(bblCount[violation.bbl].length);
            tr(class=trStyle)
              td.hpdviols #{violation.bbl}
              td.hpdviols !{violation.googlelink}
              td.hpdviols #{violation.residentialunits}
              td.gray.hpdviols #{violation.uc2007} 
              td.hpdviols #{violation.uc2016}
              td.hpdviols #{violation.class_a}
              td.hpdviols #{violation.class_b}
              td.hpdviols #{violation.class_c}
              td.hpdviols #{violation.total}
              td.hpdviols !{violation.owner}
              td.hpdviols.no-print !{violation.hpdlink} !{violation.bislink} !{violation.acrislink} !{violation.taxlink} !{violation.oasislink}
        div.fl.w-100.tl.mv2.f5.no-print
          a(href='#') Top
    div.fl.w-100.mb3.bg-black-10#dobcomplaints
      div.accordion.f3.tl.pv2.ph4 Buildings with 2+ new complaints filed with DOB last month
      div.ph4.pb2.panel
        p.f6.tl.mt0.mb3.lighttext.lh-copy Complaints that tenants make about construction or certain building conditions (e.g. broken elevator) get sent to the Department of Buildings. 
          span.no-print Click a building's 
          a(href='http://a810-bisweb.nyc.gov/bisweb/bsqpm01.jsp', target='_blank').no-print (DOB)
          span.no-print  link for details through the Building Information System. 
        table.w-100
          thead
            tr
              th BBL
              th.w-20 Address
              th Total Units
              th(colspan="2") Stabilized Units
              th Complaints &#9662;
              th Owner
              th.w-20.no-print
            tr 
              th.pb3
              th 
              th 
              th.gray 2007
              th 2016
              th
              th 
              th.no-print
          tbody
          each complaint in dobComplaints
            - var trStyle = rowClass(bblCount[complaint.bbl].length);
            tr(class=trStyle).w-100
              td.dobcomplaints #{complaint.bbl}
              td.dobcomplaints !{complaint.googlelink}
              td.dobcomplaints #{complaint.residentialunits}
              td.gray.dobcomplaints #{complaint.uc2007}
              td.dobcomplaints #{complaint.uc2016}
              td.dobcomplaints #{complaint.dobcomplaints}
              td.dobcomplaints !{complaint.owner}
              td.no-print.dobcomplaints !{complaint.hpdlink} !{complaint.bislink} !{complaint.acrislink} !{complaint.taxlink} !{complaint.oasislink}
        div.fl.w-100.tl.mv2.f5.no-print
          a(href='#') Top
    div.fl.w-100.mb3.bg-black-10#dobjobs
      div.accordion.f3.tl.pv2.ph4 Buildings with new DOB permit applications filed last month
      div.ph4.pb2.panel
        p.f6.tl.mt0.mb3.lighttext.lh-copy Construction permit applications show a landlord's intention to do construction and renovations, which can be used to destabilize apartments: for example, Alt 2 permits may represent work that will justify Individual Apartment Improvement rent increases 
          span.no-print (
          a(href='http://www1.nyc.gov/assets/buildings/pdf/pw1_userguide.pdf', target='_blank').no-print more info on permit types, p.5
          span.no-print ). Click a building's 
          a(href='http://a810-bisweb.nyc.gov/bisweb/bsqpm01.jsp', target='_blank').no-print (DOB)
          span.no-print  link for details through the Building Information System
          span . 
        table.w-100
          thead
            tr
              th BBL
              th.w-20 Address
              th Total Units
              th(colspan="2") Stabilized Units
              th Alt 1 Permits
              th Alt 2 Permits &#9662;
              th DM Permits
              th Owner
              th.w-20.no-print
            tr 
              th.pb3
              th 
              th 
              th.gray 2007
              th 2016
              th 
              th 
              th  
              th 
              th.no-print
          tbody
          each job in dobjobs
            - var trStyle = rowClass(bblCount[job.bbl].length);
            tr(class=trStyle)
              td.dobjobs #{job.bbl}
              td.dobjobs !{job.googlelink}
              td.dobcomplaints #{job.residentialunits}
              td.gray.dobjobs #{job.uc2007} 
              td.dobjobs #{job.uc2016}
              td.dobjobs #{job.a1}
              td.dobjobs #{job.a2}
              td.dobjobs #{job.dm}
              td.dobjobs !{job.owner}
              td.no-print.dobjobs !{job.hpdlink} !{job.bislink} !{job.acrislink} !{job.taxlink} !{job.oasislink}
    div.fl.w-100.tl.pl3.mt1.mb3.f5.no-print
      a(href='javascript:history.back()') Back
      span  | 
      a(href='#') Top
    div.fl.w-100.bg-black-10.f6.pl4
      div.pr3.pt3.lighttext
        span The 
        a(href='http://www.anhd.org', target='_blank') Association for Neighborhood and Housing Development
        span  produces these District Reports and 
        a(href='http://map.dapmapnyc.org/app', target='_blank') DAP Map
        span  as part of the 
        a(href='http://www.dapmapnyc.org', target='_blank') Displacement Alert Project
        span . Email 
        a(href='mailto:lucy.b@anhd.org') lucy.b@anhd.org
        span  with feedback or questions. 
      div.pt3.lighttext
        span.medtext Data sources: 
        a(href='http://taxbills.nyc' target='blank') taxbills.nyc
        span  (
        a(href='https://github.com/talos/nyc-stabilization-unit-counts' target='blank') github.com/talos
        span , 
        a(href='http://taxbills.nyc/DATALICENSE-CC-BY-SA.html' target='blank') CC BY-SA
        span ); 
        a(href='http://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page' target='blank') DOF Rolling Sales
        span ; NYC Open Data Portal: 
        a(href='https://data.cityofnewyork.us/Housing-Development/Housing-Maintenance-Code-Complaints/uwyv-629c/data' target='blank') Housing Maintenance Code Complaints
        span , 
        a(href='https://data.cityofnewyork.us/Housing-Development/Housing-Maintenance-Code-Violations/wvxf-dwi5/data' target='blank') Housing Maintenance Code Violations
        span , 
        a(href='https://data.cityofnewyork.us/Housing-Development/DOB-Complaints-Received/eabe-havv/data' target='blank') DOB Complaints Received
        span , 
        a(href='https://data.cityofnewyork.us/Housing-Development/DOB-Job-Application-Filings/ic3t-wcy2/data' target='blank') DOB Job Applications Filed
      div.pr3.pt3.lighttext
        span.medtext#notes Notes: 
        span All buildings in the report have contained at least one rent stabilized unit between 2007 and 2016. 
          | Stabilized unit numbers are approximate and based on property tax bills from the NYC Department of Finance
        span.no-print : click a building's 
        a(href='http://nycprop.nyc.gov/nycproperty/nynav/jsp/selectbbl.jsp', target='_blank').no-print (Taxes)
        span.no-print  link for individual property tax bills
        span . Missing or fluctuating numbers may be due to missing/incorrect registration by the owner or inconsistencies in property tax documentation. 
            | NYS Housing and Community Renewal maintains the most accurate information on rent stabilization, which is not available to the public.
        p The threshold of $50,000 is used to differentiate "true" or "arms-length" sales that reflect the property's market value for transfers between people or entities with existing relationships.            
      table
        thead
          tr
            th.pv3.black.lighttext
              span Made possible by support from
            th.ph2
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/fordlogo.png')
            th.pv3.black.lighttext.pl1
              span and 
                a(href='https://github.com/aepyornis/nyc-db' target='_blank') Ziggy (github.com/aepyornis)
                span .
  
    //- Javascript for accordion feature
    script.
      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
          panel.style.display = "none";
      } else {
          panel.style.display = "block";
      }
      });
      }

