doctype html
html
  head
    link(rel='stylesheet' href='./tachyons.css')
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet") 
    link(rel='stylesheet' href='./styles.css')
  body
    div.title.tc.fl.w-100.pa2.white.dapred
      table
        thead  
          tr
            th.w-20
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/anhdlogo.png')
            th.w-60
              h1.f2.ma0 #{district.borough} #{district.name}
              h2.f4.ma1.light-gray #{district.neighborhoods}
            th.w-20
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/daplogo.png')
    div.fl.tl.pl5.pt4.w-40
      - var mapurl = 'https://github.com/aepyornis/dap-dr/blob/master/dashboard/cdimages/' + district.cd + '.png?raw=true'
      img(src=mapurl).w-90
    div.fl.tc.pt3.pr4.pl3.w-50.v-mid 
      h2.pt4 Key
      p.tl All buildings listed have registered stabilized units at least once between 2007 and 2016, according to our data.
      p.bg-yellow.ma2.pv2 Buildings in yellow meet two risk criteria
      p.bg-gold.ma2.pv2 Buildings in orange meet three risk criteria
      p.white.ma2.pv2.dapred Buildings in red meet four risk criteria
      p
      p
      h1.bg-red BETA
      p Time periods shown are over several months, not one month. Needs to be adjusted.
      p CD maps should look nicer
    div.fl.w-100.tc.pa4
      h2.tl.mv2 Sales 
      h5.tl.mt2 New sales of stablized residential buildings
      table.w-100
        thead
          tr
            th.w-10.pv1 BBL
            th.w-15 Address
            th.w-10 Res Units
            th.w-10 Stab. Units <br> '07 / '16
            th.w-8 Sale Price
            th.w-8 $/GSF
            th.w-8 Sale Date
            th.w-20 Owner
            th 
            th 
            th 
        tbody
        each sale in recentSales
          tr
            td.f6.pv1.pr3.tl #{sale.bbl}
            td.f6.tl #{sale.address}
            td #{sale.residentialunits}
            td.gray #{sale.uc2007} / #{sale.uc2016}
            td $#{sale.saleprice}
            td $#{sale.ppgsf}
            td #{sale.iso_date}
            td.f7.tl.pr2.pt1 !{sale.owner}
            td.f7 !{sale.hpdlink}
            td.f7 !{sale.bislink}
            td.f7 !{sale.acrislink} 
      //- div.fl.w-100.tc.pa4
        //- h2.tl.mv2 HPD Complaints
        //- h5.tl.mt2 Stabilized buildings with 3+ HPD complaints last month
        //- table.w-100
        //-   thead
        //-     tr
        //-       th.w-10.pv3 BBL
        //-       th.w-15 Address
        //-       th.w-10 Res Units
        //-       th.w-10 Stab Units '07
        //-       th.w-10 Stab Units '16
        //-       th.w-10 Complaints
        //-       th.w-10 Owner
        //-       th  
        //-       th   
        //-       th    
        //-   tbody
        //-   //change this
        //-   each violation in hpdViolations
        //-     tr
        //-       td.f6.pv1.pr3.tl [BBL]
        //-       td.f6.tl [Address]
        //-       td [ ]
        //-       td [ ]
        //-       td [ ]
        //-       td [ ]
        //-       td.f6 [owner]
        //-       td.f7 (HPD)
        //-       td.f7 (DOB)
        //-       td.f7 (ACRIS)    
    div.fl.w-100.tc.pa4
      h2.tl.mv2 HPD Violations
      h5.tl.mt2 Stabilized buildings with 10+ HPD violations last month
      table.w-100
        thead
          tr
            th.w-10.pv3 BBL
            th.w-15 Address
            th.w-10 Res. Units
            th.w-10 Stab. Units <br> '07 / '16
            th.w-5 Class A
            th.w-5 Class B
            th.w-5 Class C
            th.w-5 Total
            th.w-20 Owner
            th  
            th   
            th    
        tbody
        each violation in hpdViolations
          tr
            td.f6.pv1.pr3.tl #{violation.bbl}
            td.f6.tl #{violation.address}
            td #{violation.residentialunits}
            td.gray #{violation.uc2007} / #{violation.uc2016}
            td #{violation.class_a}
            td #{violation.class_b}
            td #{violation.class_c}
            td #{violation.total}
            td.f7.tl.pr2.pt1 !{violation.owner}
            td.f7 !{violation.hpdlink}
            td.f7 !{violation.bislink}
            td.f7 !{violation.acrislink} 
      //- div.fl.w-100.tc.pa4
        //- h2.tl.mv2 DOB Complaints
        //- h5.tl.mt2 Stabilized buildings with 2+ DOB complaints last month
        //- table.w-100
        //-   thead
        //-     tr
        //-       th.w-10.pv3 BBL
        //-       th.w-15 Address
        //-       th.w-10 Res Units
        //-       th.w-10 Stab Units '07
        //-       th.w-10 Stab Units '16
        //-       th.w-10 Complaints
        //-       th.w-10 Owner
        //-       th  
        //-       th   
        //-       th    
        //-   tbody
        //-   //change this
        //-   each violation in hpdViolations
        //-     tr
        //-       td.f6.pv1.pr3.tl [BBL]
        //-       td.f6.tl [Address]
        //-       td [ ]
        //-       td [ ]
        //-       td [ ]
        //-       td [ ]
        //-       td.f6 [owner]
        //-       td.f7 (HPD)
        //-       td.f7 (DOB)
        //-       td.f7 (ACRIS)    
      div.fl.w-100.tc.pa4
      h2.tl.mv2 DOB Jobs
      h5.tl.mt2 Stabilized buildings with any DOB permit applications last month
      table.w-100
        thead
          tr
            th.w-10.pv3 BBL
            th.w-15 Address
            th.w-10 Res Units
            th.w-10 Stab. Units <br> '07 / '16
            th.w-8 Alt 1 Permits
            th.w-8 Alt 2 Permits
            th.w-8 DM Permits
            th.w-20 Owner
            th  
            th   
            th    
        tbody
        each job in dobjobs
          tr
            td.f6.pv1.pr3.tl #{job.bbl}
            td.f6.tl #{job.address}
            td #{job.residentialunits}
            td.gray #{job.uc2007} / #{job.uc2016}
            td #{job.a1}
            td #{job.a2}
            td #{job.dm}
            td.f7.tl.pr2.pt1 !{job.owner}
            td.f7 !{job.hpdlink}
            td.f7 !{job.bislink}
            td.f7 !{job.acrislink}     
    
    
  
    div.fl.w-100.tc.mb4
      a(href='/') Back
