doctype html
html(lang="en")
  head
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes' )
    meta(name='description' content='Community District Reports on tenant harassment and displacement in New York City')
    meta(name='keywords' content='tenant,harassment,displacement,risk,NYC,ANHD,DAP Map')
    meta(name='author' content='ANHD')
    title
      | #{district.borough} #{district.name} Report
    link(href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,regular,medium,semi-bold,bold,extra-bold,black" rel="stylesheet") 
    link(rel='stylesheet' href='./tachyons.css')
    link(rel='stylesheet' href='./styles.css') 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
    <!-- Global site tag (gtag.js) - Google Analytics -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-110952392-1")
    <!--Bootstrap-->
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-110952392-1');
  body
  - var crtmonth = 'November 2017'
  - var salesmonth = 'November 2017'
    nav.navbar
      div.container-nav
        ul.navbar-list
          li.navbar-item
            a.navbar-link.light(href="http://www.dapmapnyc.org") HOME
          li.navbar-item.dropdown
            div.dropbtn
              a.dropbtn.navbar-link.light(href="http://map.dapmapnyc.org/app") DAP MAP
            div.dropdown-content
              a.light(href="http://dapmapnyc.org/map-tutorial") MAP TUTORIAL
          li.navbar-item.dropdown
            div.dropbtn
              a.navbar-link.active.light(href="http://reports.dapmapnyc.org") DISTRICT REPORTS 
            div.dropdown-content
              a.light(href="http://dapmapnyc.org/reports-tutorial") REPORTS TUTORIAL
          li.navbar-item
            a.navbar-link.light(href="https://www.dapmapnyc.org/about") ABOUT
          li.navbar-item
            a.navbar-link.light(href="https://www.dapmapnyc.org/contact-us") CONTACT
    div.dapgray.ph4.pv2
      div.container(style="max-width: none; padding: 0px;")
        div.row
          div.col-sm
            h1
              a(href='/').imgstyle
                img(src='https://github.com/lblok/dapreports/blob/master/images/dapdrlogo.png?raw=true' alt='DAP District Reports').daplogo
          div.f4.black-90.col-sm.align-self-center
              div.v-mid.title #{district.borough} #{district.name}
              //- Change the month here when rebuilding pages
              div.lighttext.title #{crtmonth}
              //- Select month dropdown
              div.w-100.fl.no-print
                  div.container(style="max-width: none; padding-left: 0px")
                    div.dropdown.pt1.show
                      - var nov17 = '/nov17/' + district.cd + '.html'
                      - var current = '../' + district.cd + '.html'
                        a.btn.btn-secondary.btn-sm.dropdown-toggle(data-toggle="dropdown") Select Month
                        span.caret
                          ul.dropdown-menu
                            li.item
                              a.dropdown(href=nov17) November 2017
                            li.item
                              a.dropdown(href=current) December 2017
    //- Hide temporarily 
    //- div.w-100.fl.f5.pv2.ph4.bg-black-10.nhoods
    //-   span #{district.neighborhoods}
    div.fl.w-100.tl.pl4.pt2.f5
      a(href='/').no-print Back
    div.fl.f6.page
      div.container(style="max-width: none; padding-left: 0px")
        div.row.pl4.pr3
          div.pt3.col-sm.map
            - var mapurl = 'https://github.com/lblok/dapreports/blob/master/images/cdmaps/' + district.cd + '-01-min.png?raw=true'
              img(src=mapurl alt= district.borough + ' ' + district.name ' Map') 
          div.ph4.pt3.lighttext.col-sm.pageintro
            span.tl A monthly update of 
            span harassment and displacement risk in rent stabilized
            a(href='#notes') * 
            span  buildings
            span  in 
            span.medtext #{district.borough} #{district.name}
            span . Each list is one risk indicator.
            div.pt2.tl.lighttext.no-print 
              span You can click directly to a property's 
              //-  a(href='http://whoownswhat.justfix.nyc', target='_blank') Who Owns What
              //-  span  page for owner info, 
              a(href='https://hpdonline.hpdnyc.org/HPDonline/provide_address.aspx', target='_blank').light HPD building info
              span , 
              a(href='http://a810-bisweb.nyc.gov/bisweb/bispi00.jsp', target='_blank').light DOB Building Information System
              span ,  
              a(href='https://a836-acris.nyc.gov/DS/DocumentSearch/BBL', target='_blank').light ACRIS financial records
              span ,  
              a(href='http://nycprop.nyc.gov/nycproperty/nynav/jsp/selectbbl.jsp', target='_blank').light property tax information
              span , or 
              a(href='http://www.oasisnyc.net/map.aspx', target='_blank').light OASIS Map
              span  page. You can also click a building address to view it in Google Maps.
            div.fl.pt2.f6
              div.lighttext If a building appears on more than one of the lists below in a given month it will be coded: 
                div.pt1
                  div.dib.pv1.pr2
                    span.ph1.dapyellow Yellow:
                    span.lighttext  two risk factors 
                  div.dib.pv1.pr2
                    span.ph1.dtext.daporange Orange:
                    span.lighttext  three risk factors 
                  div.dib.pv1
                    span.ph1.dapred.white Red:
                    span.lighttext  four risk factors
              div.fl.mt1.w-100
                span.medtext Tip:
                span.lighttext  to find the building on other lists, expand all of them and then copy its BBL (Borough, Block, and Lot code) and use Find (Ctrl+F or &#8984+F). 
              div.fl.mt3.mb3.lighttext
                span For more information on using District Reports, visit the 
                a.light(href="http://www.dapmapnyc.org/reports-tutorial" target="_blank") Tutorial
                span  page.
    //- Lists of risk factors
    div.section#sales
      div.accordion New sales of residential buildings last month (
        span.medtext #{recentSales.length} 
        if recentSales.length == 1 
          span.medtext building
        else
          span.medtext buildings
        span )
      div.panel
        p.desc A high sale price can mean the new owner plans to displace existing tenants to make large profits. 
          | All property transfers are included here, even when the recorded dollar amount is 0. 
          //- Buildings on this list sold for more than $50,000, which is used as a threshold for "true" sales versus other types of transfers 
          //- span.no-print (
          //- a(href='#notes').no-print Notes
          //- span.no-print )
          span.no-print Sales data is messy &#8212 click a building's 
          a(href='https://a836-acris.nyc.gov/DS/DocumentSearch/BBL', target='_blank').no-print (ACRIS)
          span.no-print  link for more detailed documentation. 
          span.medtext Note: 
          span data from the Department of Finance can lag, so these sales might be from the month before last. 
        if recentSales.length > 0
          table.w-100
            thead
              tr.tc
                th BBL
                th.pl1.w-20 Address
                th Total Units
                th(colspan="2") Stab&shy;ilized Units
                th Sale Price
                th Price/&shy;Sq. Foot
                th Sale Date &#9662;
                th.w-25 Owner
                th.w-20.no-print Links
              tr.brdr
                th.tl
                th
                th
                th.gray 2007
                th 2016
                th 
                th.tl
                th 
                th 
                th.no-print
            tbody
            each sale in recentSales
              - var trStyle = rowClass(bblCount[sale.bbl].length);
              tr(class=trStyle).pt4
                td.sales #{sale.bbl}
                td.sales !{sale.googlelink}
                td.tc.sales #{sale.residentialunits}
                td.tc.gray.sales #{sale.uc2007} 
                td.tc.sales #{sale.uc2016}
                td.sales $#{sale.saleprice}
                td.sales $#{sale.ppgsf}
                td.sales #{sale.iso_date}
                td.f7.sales !{sale.owner}
                td.no-print.sales !{sale.hpdlink} !{sale.bislink} !{sale.acrislink} !{sale.taxlink} !{sale.oasislink}
        else 
          div.none There were no sales of rent stabilized buildings in #{district.borough} #{district.name} in #{salesmonth}.
        div.toplink.no-print
          a(href='#') Top
    div.section#hpdcomplaints
      div.accordion Buildings with 5+ new complaints filed with HPD last month (
        span.medtext #{hpdComplaints.length} 
        if hpdComplaints.length == 1 
          span.medtext building
        else
          span.medtext buildings
        span )
      div.panel
        p.desc Complaints that tenants make about conditions in their apartment or building get sent to Housing Preservation and Development for inspection. One complaint can include multiple problems in an apartment or a building. 
          span.no-print Click a building's 
          a(href='https://hpdonline.hpdnyc.org/HPDonline/provide_address.aspx', target='_blank').no-print (HPD)
          span.no-print  link for details. 
        if hpdComplaints.length > 0
          table.w-100
            thead
              tr.tc
                th BBL
                th.pl1.w-20 Address
                th Total Units
                th(colspan="2") Stab&shy;ilized Units
                th Compl&shy;aints &#9662;
                th Owner
                th.w-20.no-print  Links
              tr.brdr
                th.pb3
                th
                th
                th.gray 2007
                th 2016
                th
                th
                th.no-print
            tbody
            each complaint in hpdComplaints
              - var trStyle = rowClass(bblCount[complaint.bbl].length);
              tr(class=trStyle)
                td.hpdcomplaints #{complaint.bbl}
                td.hpdcomplaints !{complaint.googlelink}
                td.tc.hpdcomplaints #{complaint.residentialunits}
                td.tc.gray.hpdcomplaints #{complaint.uc2007}
                td.tc.hpdcomplaints #{complaint.uc2016}
                td.tc.hpdcomplaints #{complaint.hpdcomplaints}
                td.f7.hpdcomplaints !{complaint.owner}
                td.no-print.hpdcomplaints !{complaint.hpdlink} !{complaint.bislink} !{complaint.acrislink} !{complaint.taxlink} !{complaint.oasislink}
        else 
          div.none There were no buildings with 5 or more complaints filed with HPD in #{district.borough} #{district.name} in #{crtmonth}.
        div.toplink.no-print
          a(href='#') Top
    div.section#hpdviols
      div.accordion Buildings with 10+ new violations issued by HPD last month (
        span.medtext #{hpdViolations.length} 
        if hpdViolations.length == 1 
          span.medtext building
        else
          span.medtext buildings
        span )
      div.panel
        p.desc HPD issues violations of the Housing Maintenance Code after inspecting building conditions. Class A, B, and C violations can indicate a landlord is neglecting or actively harassing tenants, Class C being the most severe 
          span.no-print (
          a(href='http://www1.nyc.gov/assets/hpd/downloads/pdf/ABCs-housing-singlepg.pdf', target='_blank').no-print info, p.7
          span.no-print ). Click a building's 
          a(href='https://hpdonline.hpdnyc.org/HPDonline/provide_address.aspx', target='_blank').no-print (HPD)
          span.no-print  link for more details
          span . 
        if hpdViolations.length > 0
          table.w-100
            thead
              tr.tc
                th BBL
                th.pl1.w-20 Address
                th Total Units
                th(colspan="2") Stab&shy;ilized Units
                th Class A
                th Class B
                th Class C
                th Total &#9662;
                th.pl1 Owner
                th.w-20.no-print Links
              tr.brdr
                th.pb3
                th
                th
                th.gray 2007
                th 2016
                th 
                th 
                th 
                th 
                th 
                th.no-print
            tbody
            each violation in hpdViolations
              - var trStyle = rowClass(bblCount[violation.bbl].length);
              tr(class=trStyle)
                td.hpdviols #{violation.bbl}
                td.hpdviols !{violation.googlelink}
                td.tc.hpdviols #{violation.residentialunits}
                td.tc.gray.hpdviols #{violation.uc2007} 
                td.tc.hpdviols #{violation.uc2016}
                td.tc.hpdviols #{violation.class_a}
                td.tc.hpdviols #{violation.class_b}
                td.tc.hpdviols #{violation.class_c}
                td.tc.hpdviols #{violation.total}
                td.f7.hpdviols !{violation.owner}
                td.hpdviols.no-print !{violation.hpdlink} !{violation.bislink} !{violation.acrislink} !{violation.taxlink} !{violation.oasislink}
        else
          div.none There were no buildings with ten or more violations issued by HPD in #{district.borough} #{district.name} in #{crtmonth}.          
        div.toplink.no-print
          a(href='#') Top
    div.section#dobcomplaints
      div.accordion Buildings with 2+ new complaints filed with DOB last month (
        span.medtext #{dobComplaints.length} 
        if dobComplaints.length == 1 
          span.medtext building
        else
          span.medtext buildings
        span )
      div.panel
        p.desc Complaints that tenants make about construction or certain building conditions (e.g. broken elevator) get sent to the Department of Buildings. 
          span.no-print Click a building's 
          a(href='http://a810-bisweb.nyc.gov/bisweb/bsqpm01.jsp', target='_blank').no-print (DOB)
          span.no-print  link for details through the Building Information System. 
        if dobComplaints.length > 0
          table.w-100
            thead
              tr.tc
                th BBL
                th.pl1.w-20 Address
                th Total Units
                th(colspan="2") Stab&shy;ilized Units
                th Compl&shy;aints &#9662;
                th.pl1 Owner
                th.w-20.no-print Links
              tr.brdr
                th.pb3
                th 
                th 
                th.gray 2007
                th 2016
                th
                th 
                th.no-print
            tbody
            each complaint in dobComplaints
              - var trStyle = rowClass(bblCount[complaint.bbl].length);
              tr(class=trStyle).w-100
                td.dobcomplaints #{complaint.bbl}
                td.dobcomplaints !{complaint.googlelink}
                td.tc.dobcomplaints #{complaint.residentialunits}
                td.tc.gray.dobcomplaints #{complaint.uc2007}
                td.tc.dobcomplaints #{complaint.uc2016}
                td.tc.dobcomplaints #{complaint.dobcomplaints}
                td.f7.dobcomplaints !{complaint.owner}
                td.no-print.dobcomplaints !{complaint.hpdlink} !{complaint.bislink} !{complaint.acrislink} !{complaint.taxlink} !{complaint.oasislink}
        else 
          div.none There were no buildings with two or more complaints filed with DOB in #{district.borough} #{district.name} in #{crtmonth}.                    
        div.toplink.no-print
          a(href='#') Top
    div.section#dobjobs
      div.accordion Buildings with new DOB permit applications filed last month (
        span.medtext #{dobjobs.length} 
        if dobjobs.length == 1 
          span.medtext building
        else
          span.medtext buildings
        span )
      div.panel
        p.desc Construction permit applications show a landlord's intention to do construction and renovations, which can be used to destabilize apartments. 
          | For example, Alt 2 permits may represent work that will justify Individual Apartment Improvement rent increases 
          span.no-print (
          a(href='http://www1.nyc.gov/assets/buildings/pdf/pw1_userguide.pdf', target='_blank').no-print more info on permit types, p.5
          span.no-print ). Click a building's 
          a(href='http://a810-bisweb.nyc.gov/bisweb/bsqpm01.jsp', target='_blank').no-print (DOB)
          span.no-print  link for details through the Building Information System
          span . 
        if dobjobs.length > 0
          table.w-100
            thead
              tr.tc
                th BBL
                th.pl1.w-20 Address
                th Total Units
                th(colspan="2") Stab&shy;ilized Units
                th Alt 1 Perm&shy;its
                th Alt 2 Perm&shy;its &#9662;
                th DM Perm&shy;its
                th.pl1 Owner
                th.w-20.no-print Links
              tr.brdr
                th.pb3
                th 
                th 
                th.gray 2007
                th 2016
                th 
                th 
                th  
                th 
                th.no-print
            tbody
            each job in dobjobs
              - var trStyle = rowClass(bblCount[job.bbl].length);
              tr(class=trStyle)
                td.dobjobs #{job.bbl}
                td.dobjobs !{job.googlelink}
                td.tc.dobcomplaints #{job.residentialunits}
                td.tc.gray.dobjobs #{job.uc2007} 
                td.tc.dobjobs #{job.uc2016}
                td.tc.dobjobs #{job.a1}
                td.tc.dobjobs #{job.a2}
                td.tc.dobjobs #{job.dm}
                td.f7.dobjobs !{job.owner}
                td.no-print.dobjobs !{job.hpdlink} !{job.bislink} !{job.acrislink} !{job.taxlink} !{job.oasislink}
        else 
          div.none There were no buildings with new DOB permit applications filed in #{district.borough} #{district.name} in #{crtmonth}.                    

      //- Footer  
    div.fl.w-100.tl.pl4.pt5.mb3.f5.no-print
      a(href='javascript:history.back()') Back
      span  | 
      a(href='#') Top
    div.fl.w-100.bg-black-10.f6.pl4.pb3
      div.pr3.pt3.lighttext
        span.medtext#notes *
        span All buildings in the report have contained at least one rent stabilized unit between 2007 and 2016. 
          | Stabilized unit numbers are approximate and based on property tax bills from the NYC Department of Finance
        span.no-print : click a building's 
        a(href='http://nycprop.nyc.gov/nycproperty/nynav/jsp/selectbbl.jsp', target='_blank').no-print (Taxes)
        span.no-print  link for individual property tax bills
        span . Missing or fluctuating numbers may be due to missing/incorrect registration by the owner or inconsistencies in property tax documentation. 
            | NYS Housing and Community Renewal maintains the most accurate information on rent stabilization, which is not available to the public.
        //- p The threshold of $50,000 is used to differentiate "true" or "arms-length" sales that reflect the property's market value for transfers between people or entities with existing relationships.  
      div.pt3.lighttext
        span.medtext Data sources: 
        a(href='http://taxbills.nyc' target='blank').light taxbills.nyc
        span  (
        a(href='https://github.com/talos/nyc-stabilization-unit-counts' target='blank').light github.com/talos
        span , 
        a(href='http://taxbills.nyc/DATALICENSE-CC-BY-SA.html' target='blank').light CC BY-SA
        span ); 
        a(href='http://www1.nyc.gov/site/finance/taxes/property-rolling-sales-data.page' target='blank').light DOF Rolling Sales
        span ; NYC Open Data Portal: 
        a(href='https://data.cityofnewyork.us/Housing-Development/Housing-Maintenance-Code-Complaints/uwyv-629c/data' target='blank').light Housing Maintenance Code Complaints
        span , 
        a(href='https://data.cityofnewyork.us/Housing-Development/Housing-Maintenance-Code-Violations/wvxf-dwi5/data' target='blank').light Housing Maintenance Code Violations
        span , 
        a(href='https://data.cityofnewyork.us/Housing-Development/DOB-Complaints-Received/eabe-havv/data' target='blank').light DOB Complaints Received
        span , 
        a(href='https://data.cityofnewyork.us/Housing-Development/DOB-Job-Application-Filings/ic3t-wcy2/data' target='blank').light DOB Job Applications Filed

      div.pr3.pt3.lighttext
        span The 
        a(href='http://www.anhd.org', target='_blank').light Association for Neighborhood and Housing Development
        span  produces these District Reports and 
        a(href='http://map.dapmapnyc.org/app', target='_blank').light DAP Map
        span  as part of the 
        a(href='http://www.dapmapnyc.org', target='_blank').light Displacement Alert Project
        span . Email 
        a(href='mailto:lucy.b@anhd.org').light lucy.b@anhd.org
        span  with feedback or questions. 
      div.w-100.pt2
        div.credits
          span Made possible by support from
        div.ph2.credits
          img(src='https://github.com/lblok/dapreports/blob/master/images/fordlogo.png?raw=true' alt='Ford Foundation')
        div.credits
          span and 
              a(href='https://github.com/aepyornis/nyc-db' target='_blank').light Ziggy (github.com/aepyornis)
              span .

    //- Javascript for accordion feature
    script.
      var acc = document.getElementsByClassName("accordion");
      var i;
      for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
      /* Toggle between adding and removing the "active" class,
      to highlight the button that controls the panel */
      this.classList.toggle("active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
          panel.style.display = "none";
      } else {
          panel.style.display = "block";
      }
      });
      }
