doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet") 
    //- link(rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css")
    link(rel='stylesheet' href='./tachyons.css')
    script(src="https://code.jquery.com/jquery-1.11.3.js")
    //- script(src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js")
    link(rel='stylesheet' href='./styles.css')
  body
    div.title.tc.fl.w-100.pt2.white.dapheader
      table.pr4.pl4.pv2
        thead  
          tr
            th.w-20
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/anhdlogo.png')
            th.w-60
              h1.f2.ma0.black-90 #{district.borough} #{district.name}
              h2.f4.ma1.black-80 #{district.neighborhoods}
            th.w-20
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/daplogo.png')
    div.w-100.bg-dark-red.tc.fl
      p.f3.pv1.mv1 BETA
    div.fl.w-100.tl.pl3.mt2.f4.b
      a(href='/') Back
    div.fl.tl.pl4.pr3.w-40
       - var mapurl = 'https://github.com/aepyornis/dap-dr/blob/master/dashboard/cdimages/' + district.cd + '-01.png?raw=true'
        div
          img(src=mapurl)
        //- <div id="pageone" data-role="main" class="ui-content" style="padding:3px">
        //-   <a href="#myPopup" data-rel="popup" data-position-to="window" class="imgstyle">
        //-     img(src=mapurl).w-90.pt3.pr3.pl3
        //-   <div data-role="popup" id="myPopup">
        //-     <a href="#pageone" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        //-       img(src=mapurl)
        //-   </div></div>
        //- div.f6.tc Click to enlarge
    div.fl.tc.pt3.pr4.pl3.w-50.v-mid 
      h2.pt2 DAP District Reports
      p.f5.tl A monthly update of harassment and displacement risk in rent stabilized buildings in the district. A building appearing on one or more of these lists can indicate that residents are facing significant displacement pressure and affordable apartments are threatened.
      p.mv2.pv1.dapyellow Buildings in yellow meet two risk criteria
      p.mv2.pv1.daporange Buildings in orange meet three risk criteria
      p.white.mv2.pv1.dapred Buildings in red meet four risk criteria
      p.tl All buildings listed have registered stabilized units at least once between 2007 and 2016, according to our data. Number of stabilized units 
      p.f5.tl 
      p.f6.tl 
      p.f7.tl.gray 
    div.fl.w-100.tc.pa4
      h2.tl.mv2 Sales 
      h5.tl.mt2 New sales of stablized residential buildings
      table.w-100
        thead
          tr
            th.w-10.pt2 BBL
            th.w-15 Address
            th.w-10 Total Units
            <th colspan="2" style="width:10%"> Stabilized Units</th>
            th Sale Price
            th $/GSF
            th Sale Date
            th.w-20 Owner
            th.w-10 
          tr 
              th.w-10.pb3 
              th.w-15 
              th.w-10 
              th.w-5.gray 2007
              th.w-5 2016
              th 
              th 
              th  
              th.w-20 
              th.w-10
        tbody
        each sale in recentSales
          tr
            td.f6.pv1.pr3.tl #{sale.bbl}
            td.f6.tl #{sale.address}
            td #{sale.residentialunits}
            td.gray #{sale.uc2007} 
            td #{sale.uc2016}
            td.f6 #{sale.saleprice}
            td.f6 $ #{sale.ppgsf}
            td.f6 #{sale.iso_date}
            td.f7.tl.pr2.pt1.pl2 !{sale.owner}
            td.f7 !{sale.hpdlink} !{sale.bislink} !{sale.acrislink} 
    div.fl.w-100.tc.pa4
      h2.tl.mv2 HPD Complaints [Pending]
      h5.tl.mt2 Stabilized buildings with 3+ HPD complaints last month
      table.w-100
        thead
          tr
            th.w-10.pv3 BBL
            th.w-15 Address
            th.w-10 Total Units
            <th colspan="2" style="width:10%"> Stabilized Units <br><span style="color:gray"> 2007 </span> 2016 </th>
            th Complaints
            th.w-20 Owner
            th.w-10  
          //- tbody
          //- //change this
          //- each violation in hpdViolations
          //-   tr
          //-     td.f6.pv1.pr3.tl [BBL]
          //-     td.f6.tl [Address]
          //-     td [ ]
          //-     td [ ]
          //-     td [ ]
          //-     td [ ]
          //-     td.f6 [owner]
          //-     td.f7 (HPD)
          //-     td.f7 (DOB)
          //-     td.f7 (ACRIS)    
    div.fl.w-100.tc.pa4
      h2.tl.mv2 HPD Violations
      h5.tl.mt2 Stabilized buildings with 10+ HPD violations last month
      table.w-100
        thead
          tr
            th.w-10.pt2 BBL
            th.w-15 Address
            th.w-10 Total Units
            <th colspan="2" style="width:10%"> Stabilized Units </th>
            th Class A
            th Class B
            th Class C
            th Total
            th.w-20 Owner
            th.w-10 
          tr 
            th.w-10.pb3 
            th.w-15 
            th.w-10 
            th.w-5.gray 2007
            th.w-5 2016
            th 
            th 
            th 
            th 
            th.w-20 
            th.w-10
        tbody
        each violation in hpdViolations
          tr
            td.f6.pv1.pr3.tl #{violation.bbl}
            td.f6.tl #{violation.address}
            td #{violation.residentialunits}
            td.gray #{violation.uc2007} 
            td #{violation.uc2016}
            td #{violation.class_a}
            td #{violation.class_b}
            td #{violation.class_c}
            td #{violation.total}
            td.f7.tl.pr2.pt1 !{violation.owner}
            td.f7 !{violation.hpdlink} !{violation.bislink} !{violation.acrislink} 
    div.fl.w-100.tc.pa4
      h2.tl.mv2 DOB Complaints [Pending]
      h5.tl.mt2 Stabilized buildings with 2+ DOB complaints last month
      table.w-100
        thead
          tr
            th.w-10.pv3 BBL
            th.w-15 Address
            th.w-10 Total Units
            <th colspan="2" style="width:10%"> Stabilized Units <br><span style="color:gray"> 2007 </span> 2016 </th>
            th Complaints
            th.w-20 Owner
            th.w-10     
        //-   tbody
        //-   //change this
        //-   each violation in hpdViolations
        //-     tr
        //-       td.f6.pv1.pr3.tl [BBL]
        //-       td.f6.tl [Address]
        //-       td [ ]
        //-       td [ ]
        //-       td [ ]
        //-       td [ ]
        //-       td.f6 [owner]
        //-       td.f7 (HPD)
        //-       td.f7 (DOB)
        //-       td.f7 (ACRIS)    
      div.fl.w-100.tc.pa4
      h2.tl.mv2 DOB Jobs
      h5.tl.mt2 Stabilized buildings with any DOB permit applications last month
      table.w-100
        thead
          tr
            th.w-10.pt2 BBL
            th.w-20 Address
            th.w-15 Total Units
            <th colspan="2" style="width:10%"> Stabilized Units</th>
            th Alt 1 Permits
            th Alt 2 Permits
            th DM Permits
            th.w-20 Owner
            th.w-10     
          tr 
            th.w-10.pb3 
            th.w-15 
            th.w-10 
            th.w-5.gray 2007
            th.w-5 2016
            th 
            th 
            th  
            th.w-20 
            th.w-10
        tbody
        each job in dobjobs
          tr
            td.f6.pv1.pr3.tl #{job.bbl}
            td.f6.tl #{job.address}
            td #{job.residentialunits}
            td.gray #{job.uc2007} 
            td #{job.uc2016}
            td #{job.a1}
            td #{job.a2}
            td #{job.dm}
            td.f7.tl.pr2.pt1 !{job.owner}
            td.f7 !{job.hpdlink} !{job.bislink} !{job.acrislink}     
    
    
  
    div.fl.w-100.tc.mb4
      a(href='/') Back