doctype html
html
  head
    link(href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,regular,medium,semi-bold,bold, extra-bold, black" rel="stylesheet") 
    link(rel='stylesheet' href='./tachyons.css')
    link(rel='stylesheet' href='./styles.css')
  body
    div.title.tc.fl.w-100.pt2.white.dapgray.mb3
      img.w-30(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/dapdrlogo.png')
    div.f4.pl4.black-70
      p DAP District Reports provide monthly updates on harassment and displacement risk in rent stabilized buildings. Risk indicators include 
        span.black sales
        span , 
        span.black HPD complaints
        span , 
        span.black HPD violations
        span , 
        span.black DOB complaints
        span , and 
        span.black DOB construction permit applications.
      p Buildings that appear on multiple lists are coded 
        span.dapyellow.black.ph1 yellow
        span , 
        span.daporange.black.ph1 orange
        span , or 
        span.dapred.white.ph1.lighttext red
        span , depending on the level of risk.
      p
        span.highlight Organizers have limited time and capacity, and we created DAP District Reports to make it easier to prioritize where to do outreach. These reports give regular updates on displacement risk in the neighborhoods where our organizers work.
    //- table.pa2.w-100
    //-     thead
    //-       tr.black
    //-         th.w-20.f4 
    //-           a(href='#tag') Bronx
    //-         th.w-20.f4 Brooklyn
    //-         th.w-20.f4 Manhattan
    //-         th.w-20.f4 Queens
    //-         th.w-20.f4 Staten Island

    //- - function rps () {
    //-   var counter = document.getElementById('counter');
    //-   var number = +counter.innerHTML;
    //-   //- number++;
    //-   counter.innerHTML = number;}

    for boro in districts
        div.fl.w-100.ph4
          h2.f3.black #{boro[0]} 
          for district in boro[1]
            div.fl.mb3.links.w-90
              a(href=`${district.cd}.html`) 
                span.black-90 #{district.name}: 
                | #{district.neighborhoods}
    div.fl.w-100.bg-black-10 
      table.ph4
        thead
          tr
            th.pv3.pl4.w-45.black.lighttext
              span Made possible by funding from
            th.w-45.pl3
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/fordlogo.png')

    //- main.mb3
    //-   div.fl.w-100.ph4
    //-     h2.f3.black#bronx Bronx
    //-     for district in #{boro[0]}
    //-         div.fl.w-80.mb3.links
    //-           a(href=`${district.cd}.html`) 
    //-             span.black-90 #{district.name}: 
    //-             | #{district.neighborhoods}
      

