doctype html
html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes' )
    link(href="https://fonts.googleapis.com/css?family=Montserrat:thin,extra-light,light,regular,medium,semi-bold,bold, extra-bold, black" rel="stylesheet") 
    link(rel='stylesheet' href='./tachyons.css')
    link(rel='stylesheet' href='./styles.css') 
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous")
    <!--Bootstrap-->
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous")
  body
    nav.navbar
      div.container-nav
        ul.navbar-list
          li.navbar-item
            a.navbar-link.light(href="http://www.dapmapnyc.org") HOME
          li.navbar-item.dropdown
            button.dropbtn
              a.navbar-link.light(href="http://map.dapmapnyc.org/app") DAP MAP
            div.dropdown-content
              a.light(href="http://dapmapnyc.org/tutorial") MAP TUTORIAL
          li.navbar-item.dropdown
            button.dropbtn
              a.navbar-link.active.light(href="#") DISTRICT REPORTS 
            div.dropdown-content
              a.light(href="http://dapmapnyc.org/reports-tutorial") REPORTS TUTORIAL
          li.navbar-item
            a.navbar-link.light(href="https://www.dapmapnyc.org/about") ABOUT
          li.navbar-item
            a.navbar-link.light(href="https://www.dapmapnyc.org/contact-us") CONTACT
    div.dapgray.ph4.pv2
      div.container(style="max-width: none; padding: 0px;")
        div.row
          div.col-sm
            a(href='/').imgstyle.daplogo
              img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/dapdrlogo.png').daplogo
    div.intro
      p
        span.highlight Tenant organizers have limited time and capacity. As part of its
          a(href='http://dapmapnyc.org')  Displacement Alert Project
          span , ANHD produces DAP District Reports 
          | to help them prioritize outreach. The reports give monthly updates on displacement risk to 
          | stabilized tenants in the neighborhoods where organizers work.
      p DAP District Reports provide lists of rent stabilized buildings organized by Community Board where 
        | tenants may be at risk of harassment and displacement. Risk is indicated by new 
        span.medtext property sales
        span , 
        span.medtext HPD complaints
        span , 
        span.medtext HPD violations
        span , 
        span.medtext DOB complaints
        span , and 
        span.medtext DOB construction permit applications. 
      p Buildings that appear on multiple lists are coded 
        span.dapyellow.black.ph1 yellow
        span , 
        span.daporange.black.ph1 orange
        span , or 
        span.dapred.white.ph1.lighttext red
        span , depending on the level of risk.
    for boro in districts
      div.fl.w-100.ph4
        div.f4.pv2.black #{boro[0]} 
        for district in boro[1]
          div.fl.mb2.f6.links.w-90
            a(href=`${district.cd}.html`) 
              span #{district.name}: &nbsp;
              | #{district.neighborhoods}
    div.fl.w-100.bg-black-10.f6.pl4
      div.pr3.pt3.lighttext
        span The 
        a(href='http://www.anhd.org', target='_blank').light Association for Neighborhood and Housing Development
        span  produces these District Reports and 
        a(href='http://map.dapmapnyc.org/app', target='_blank').light DAP Map
        span  as part of the 
        a(href='http://www.dapmapnyc.org', target='_blank').light Displacement Alert Project
        span . Email 
        a(href='mailto:lucy.b@anhd.org').light lucy.b@anhd.org
        span  with feedback or questions. 
      div.w-100.pt2
        div.credits
          span Made possible by support from
        div.ph2.credits
          img(src='https://raw.githubusercontent.com/aepyornis/dap-dr/master/dashboard/fordlogo.png')
        div.credits
          span and 
              a(href='https://github.com/aepyornis/nyc-db' target='_blank').light Ziggy (github.com/aepyornis)
              span .